h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0px;
}
p,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
:root {
    --first-color: #212121;
    --second-color: #757575;
    --title-first-color: #2196F3;
    --title-second-color: #000000;
    --buttom-text-color: white;
  }
  .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }
.section {
    padding: 94px 0;
}
/*header*/
.header-main {
    display: flex;
    align-items:center;
    justify-content:space-around;
    border-bottom: 1px solid #000000;
}
.logo {
    display: block;
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.top {
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-web {
    color: var(--title-first-color);
}
.logo-studio {
    color: var(--title-second-color);
}
.site-nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em; 
    list-style-type: none;   
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em; 
    list-style-type: none;   
}
.header-contacts .item + .item{
    margin-left: 50px;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--first-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-first-color);
    text-decoration: none;  
}
.site-nav .link.current {
    color: var(--title-first-color);
    text-decoration: none;
}
.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--second-color);
    text-decoration: none;     
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--title-first-color);  
}
/*hero*/
.hero {
    text-align: center;
    padding: 200px 0;
    background-color: #2F303A;
}
.hero-heading {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--buttom-text-color);
}
.hero-button {
    display: inline-block;
    color: var(--buttom-text-color);
    background-color: var(--title-first-color);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
}
/*about-company*/
.visually-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.about-company-list {
    display: flex;
}
.about-company-list .item:not(:last-child){
    margin-right: 30px;
}
.about-company-heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
}
.about-company-text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
/*our-work*/
.our-work {
    padding-top: 0;
}
.our-work-heading {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.our-work-list {
    display: flex;
}
.our-work-list .item:not(:last-child){
    margin-right: 30px;
} 
/*our-team*/
.our-team {
    background-color: #F5F4FA;
}
.our-team-heading {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
}
.our-team-list {
    display: flex; 
}
.our-team-list .item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.our-team-list .item:not(:last-child){
    margin-right: 30px;
} 
.our-team-list-heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--first-color);
    text-align: center;
}
.our-team-list-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-color);
    text-align: center;
}
/*footer*/
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.bottom {
    margin-bottom: 20px;
}
.logo-studio-footer {
    color: var(--buttom-text-color);
}
.adress {
    font-style: normal;
}
.adress-list .item:not(:last-child) {
    margin-bottom: 9px;
}
.adress-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    text-decoration: none
}
.adress-link {
    color: var(--second-color);
    text-decoration: none;     
}
.adress-link:hover,
.adress-link:focus {
    color: var(--title-first-color);
}
/*portfolio*/
/*filter*/
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-list .item:not(:last-child) {
    margin-right: 8px;
}
.button-filter {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: var(--title-second-color);
    border-color: transparent;
}
.button-filter:hover,
.button-filter:focus {
    color: var(--buttom-text-color);
    background-color: var(--title-first-color);
}
/*projects*/
.projects-list {
    display: flex;
    flex-wrap: wrap;
}
.projects-list .item {
    margin-bottom: 30px;}

.projects-list .item:not(:last-child) {
    margin-right: 30px;
}
.projects-card {
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
}
.projects-heading {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-color);
}
.projects-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
}